{% extends 'base.html.twig' %}

{% block stylesheets %}
  .epuise{
    background-color:#ff0000;
  }
  .presfin{

    background-color:#ffa500;
  }
  .suffisant{
    background-color:#90ee90 ;
  }
  .link{
    font-size:14px
  }
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  <table class="table">

    <thead>
      <th class="epuise">Produits épuisés</th>
      <th class="presfin">Produits prés Fin</th>
      <th class="suffisant">Produits avec quantité suffisantes</th>
    </thead>
    {% for i in length     %}


        <tr>
          <td class="epuise" align=center>

            {% if produits_epuise[(loop.index)-1] is defined%}

              {{produits_epuise[(loop.index)-1].nom }}  |  {{ produits_epuise[(loop.index)-1].quantite}}

            {% endif %}
          </td>
          <td class="presfin" align=center>
            {% if produits_pres_fin[(loop.index-1)] is defined%}
              {{produits_pres_fin[(loop.index-1)].nom}}  |  {{ produits_pres_fin[(loop.index-1)].quantite }}
            {% endif %}
          </td>
          <td class="suffisant" align=center>
            {% if produits_suffisant[(loop.index-1)] is defined%}
              {{produits_suffisant[(loop.index-1)].nom }} |  {{ produits_suffisant[(loop.index-1)].quantite }}
            {% endif %}
          </td>
        </tr>
    {% endfor %}
  </table>
  <a href="#" class=link>Ajouter au Rapport</a>|
  <a href="#"class=link>Finaliser le Rapport</a>
</div>
{% endblock %}
