<!DOCTYPE html>
<html>
    <head>
    	<style type="text/css">
            {% block stylesheets %}{% endblock %}
    		.nav-item{
    			margin-left: 15px;
    		}
  		.navbar-nav{
    			margin-left: 15%;

    		}
    		.btn-primary{
    			margin-left: 10%;
    			font-size: 16px;
    			color: white
    		}
    	</style>
        <meta charset="UTF-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>
    <body>
      <!-- <div class="col-sx-12 col-sm-2 col-md-3">
        <div class="widget no-border pull-right sm-pull-none sm-text-center">
          <ul class="list-inline">
            <li><i class="fa fa-map-phone text-theme-colored font-20 mt-5 sm-display-block"></i>(+216 73 246 893) </li>
            <li><i class="fa fa-map-enveloppe text-theme-colored font-20 mt-5 sm-display-block"></i>jobs.dsi@detandt.com</li>
            <li><i class="fa fa-map-marker text-theme-colored font-20 mt-5 sm-display-block"></i>Boulevard 14 Janier Kantaoui Sousse</li>
          </ul>
        </div> -->
      </div>
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src={{asset('images/logo.png')}}></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if is_granted('ROLE_TECH')%}

      <li class="nav-item active">
        <a class="nav-link" href="{{path('index')}}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('stat')}}">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('admin')}}">Tableau de Bord</a>
      </li >
      <li class="nav-item">
      	<a  class="nav-link" href="{{path('app_logout')}}">Déconnecter</a>
      </li>
      {% elseif is_granted('ROLE_RESP')%}
      <li class="nav-item active">
        <a class="nav-link" href="{{path('index')}}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('stat')}}">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('produit')}}">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('employee')}}">Employee</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link"  href="{{path('app_logout')}}">Déconnecter</a>
      </li>

      {% endif %}

    </ul>



  </div>
</nav>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
